GROQ_API_KEY=your_groq_key_here
GEMINI_API_KEY=your_gemini_key_here
JINA_API_KEY=your_jina_key_here
CHROMA_DB_PATH=./data/chroma_db
BM25_INDEX_PATH=./data/bm25_index.pkl
BIBLE_DATA_PATH=./data/bibles
DENOM_DATA_PATH=./data/denominations
HISTORICAL_FACTS_PATH=./data/historical_facts.json
MAX_REGEN_ATTEMPTS=2
MEMORY_WINDOW_SIZE=6
BM25_TOP_K=5
DENSE_TOP_K=5
FUSED_TOP_K=3
